<div class='container-sm mt-5'>
  <span class='text-animation fs-1'></span><span
    class='text-animation-2 fs-1'
    style='color: #5bc0be;'
  ></span>
  <p class='home-text fs-5'>With
    <span style='color: #5bc0be;'>Whistle</span>
    you can create projects, and set tasks to better manage the projects you
    need to complete.</p>
</div>

<div class='container-sm d-flex align-items-center' style='height: 50%;'>
  <div class='card login-card' style='width: 100%;'>
    <h2>Login</h2>
    <form id='login-form'>
      <div class='mb-3'>
        <label for='email' class='form-label'>Email address</label>
        <input type='email' class='form-control' id='login-email' />
      </div>
      <div class='mb-3'>
        <label for='password' class='form-label'>Password</label>
        <input type='password' class='form-control' id='login-password' />
      </div>
      <button type='submit' class='btn btn-primary'>Login</button>
    </form>
  </div>
</div>
<script src='/js/login.js'></script>