body {
  background-color: #0b132b;
  color: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #5bc0be;
}

a:hover {
  color: #7bccca;
}

.navbar {
  background-color: #5bc0be;
}

.navbar a {
  text-decoration: none;
  color: #1c2541;
}

.navbar a:hover {
  color: #3a506b;
}

.navbar .btn-primary {
  background-color: #1c2541;
  border-color: #1c2541;
  color: #5bc0be;
  font-weight: 500;
}

.navbar .btn-primary:hover {
  background-color: #3a506b;
  border-color: #3a506b;
  color: #5bc0be;
  font-weight: 500;
}

.container-sm {
  max-width: 540px;
}

.btn-primary {
  background-color: #5bc0be;
  border-color: #5bc0be;
  color: #0b132b;
  font-weight: 500;
}

.btn-primary:hover {
  background-color: #7bccca;
  border-color: #5bc0be;
  color: #0b132b;
}

.btn-primary:active {
  color: #0b132b;
  background-color: #7bccca;
  border-color: #5bc0be;
}

.btn-primary:focus {
  color: #0b132b;
  background-color: #7bccca;
  border-color: #5bc0be;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(91, 192, 190, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(91, 192, 190, 0.5);
}

.btn-outline-primary {
  color: #5bc0be;
  border-color: #5bc0be;
  font-weight: 500;
}

.btn-outline-primary:hover {
  background-color: #7bccca;
  border-color: #5bc0be;
  color: #0b132b;
}

.btn-outline-primary:checked {
  background-color: #7bccca;
  border-color: #5bc0be;
  color: #0b132b;
}

.btn-outline-primary:active {
  color: #0b132b;
  background-color: #7bccca;
  border-color: #5bc0be;
}

.btn-outline-primary:focus {
  color: #0b132b;
  background-color: #7bccca;
  border-color: #5bc0be;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(91, 192, 190, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(91, 192, 190, 0.5);
}

.btn-check:checked + .btn-outline-primary {
  background-color: #7bccca;
  border-color: #5bc0be;
  color: #0b132b;
}

.btn-check:checked + .btn-outline-primary:focus {
  color: #0b132b;
  background-color: #7bccca;
  border-color: #5bc0be;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(91, 192, 190, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(91, 192, 190, 0.5);
}

.card {
  background-color: #1c2541;
  padding: 20px;
  margin-top: 20px;
}

.card .btn-danger {
  margin-top: 10px;
}

.col-sm-3 {
  min-width: 290px;
}

.col-sm-3 .card {
  min-width: 288px;
}

.col-sm-9 {
  min-width: 75%;
}

.modal-content {
  background-color: #3a506b;
}

.modal-content .modal-header {
  border-bottom: 1px solid #5bc0be;
}

.modal-content .form-check-input:checked {
  background-color: #5bc0be;
  border-color: #5bc0be;
}

.project-title {
  font-size: 20px;
}

@media all and (max-width: 1161px) {
  .col-sm-3 {
    min-width: 100%;
    width: 100%;
    padding: 0;
  }
  .col-sm-3 .card {
    min-width: 100%;
  }
  .col-sm-9 {
    min-width: 100%;
    width: 100%;
  }
  .container-xxl {
    padding: 0 40px;
  }
  .justify-content-md-end {
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important;
    margin-right: 0;
  }
}

@media all and (max-width: 748px) {
  .logo {
    height: 50px;
  }
  .container-xxl {
    padding: 0 20px;
  }
  .col-9,
  .col-3 {
    min-width: 100%;
  }
  .card .btn-danger {
    margin: 0;
  }
  .card-body {
    padding: 10px;
  }
  .projects .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .projects .row .btn-col {
    margin-bottom: 10px;
  }
  .projects .row #delete-task {
    margin-top: 10px;
  }
}
/*# sourceMappingURL=style.css.map */